@using DAL.Models
@using DAL.Extensions
@using Services
@using Common.ViewModels
@model Profile
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";

    ViewBag.Title = $"Profile ({User.Identity.Name})";
    ViewBag.Action = "Account";

    IList<Unit> _units = (List<Unit>)ViewBag.units;
    IList<ClassUnitViewModel> _classes = (List<ClassUnitViewModel>)ViewBag.classes;
}
<style>
    .list-item{
        overflow:hidden;
    }
    .list-body{
        margin-right:0px;
    }
</style>
<div class="content-main" id="content-main">
    <div>
        <div class="item">
            <div class="item-bg"></div>
            <div class="p-4">
                <div class="row mt-3">
                    <div class="col-sm-7">
                        <div class="media">
                            <a href="#">
                                <span class="w-96">
                                    <img alt="." class="w-96 circle" src="@Url.Content(User.PhotoUrl())"> <i class="on"></i>
                                </span>
                            </a>
                            <div class="media-body mx-3 mb-2">
                                <h4>@Model.FullNames</h4>
                                <p class="text-muted">
                                    <span class="m-r">@User.Role()</span> 
                                    <small><i class="fa fa-map-marker mr-2"></i>
                                        @{ 
                                            if(Model.Location != null)
                                            {
                                                <span>@Model.Location.FullAddress</span>
                                            }
                                            else
                                            {
                                                <span>no location</span>
                                            }
                                        }
                                    </small>
                                </p>
                                <div class="block clearfix mb-3">
                                    <a class="btn btn-icon btn-social btn-rounded b-a btn-sm" target="_blank" href="https://facebook.com/@Model.Facebook">
                                        <i class="fa fa-facebook"></i> 
                                        <i class="fa fa-facebook indigo"></i>
                                    </a> 
                                    <a class="btn btn-icon btn-social btn-rounded b-a btn-sm" target="_blank" href="https://twitter.com/@Model.Twitter">
                                        <i class="fa fa-twitter"></i> 
                                        <i class="fa fa-twitter light-blue"></i>
                                    </a> 
                                    <a class="btn btn-icon btn-social btn-rounded b-a btn-sm" target="_blank" href="https://instagram.com/@Model.Instagram">
                                        <i class="fa fa-instagram"></i> 
                                        <i class="fa fa-instagram indigo"></i>
                                    </a> 
                                    <a class="btn btn-icon btn-social btn-rounded b-a btn-sm" target="_blank" href="https://linkedin.com/in/@Model.Linkedin">
                                        <i class="fa fa-linkedin"></i> 
                                        <i class="fa fa-linkedin cyan"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <p class="text-md profile-status">
                            @{ 
                                if(User.Role() == "Student")
                                {
                                    var student = (Student)ViewBag.student;

                                    if(student != null)
                                    {
                                        if(student.Course != null)
                                        {
                                            @switch (student.Course.Type)
                                             {
                                                 case CourseType.Certificate:
                                                     <i class="fa fa-certificate"></i>
                                                     break;
                                                 case CourseType.Diploma:
                                                     <i class="fa fa-certificate text-warning"></i>
                                                     break;
                                                 case CourseType.Degree:
                                                     <i class="fa fa-certificate text-success"></i>
                                                     break;
                                                 case CourseType.Masters:
                                                     <i class="fa fa-certificate text-info"></i>
                                                     break;
                                                 case CourseType.Phd:
                                                     <i class="fa fa-certificate text-danger"></i>
                                                     break;
                                                 default:
                                                     break;
                                             }
                                        
                                            @student.Course.Name
                                        }
                                        else
                                        {
                                            <span>Not enrolled to any course yet.</span>
                                            <br />
                                            <a class="btn btn-danger" href="/courses/enrollment">Enroll today</a>
                                        }

                                    }
                                    else
                                    {
                                        <span><i class="fa fa-shield text-danger"></i> Profile not set.</span>
                                        <span>Not enrolled to any course yet.</span>
                                            <br />
                                        <a class="btn btn-danger" href="/courses/enrollment">Enroll today</a>
                                    }
                                }
                                else
                                {
                                    <span>Hi there!</span>
                                }
                            }
                        </p>
                        <a class="btn btn-sm rounded btn-outline b-success" href="/account/edit/@Extensions.GenerateSlug(User.FullNames())">Edit profile</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="white bg b-b px-3">
            @{ 
                Html.RenderPartial("Profiles/_ActivityBar");
            }
        </div>


        <div class="padding" style="padding:1rem;">
            <div class="row">
                <div class="col-md-8">
                    @{ 
                        if(User.Role() == "Administrator")
                        {

                        }
                        else
                        {
                            <div class="tab-content">
                        <div class="tab-pane fade active show" id="tab_1">
                            <div class="row row-sm">
                                @foreach (var item in _units)
                                {
                                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                        <div class="list-item box r mb-2">
                                            <a href="/units/@item.Id/@item.GenerateSlug()">
                                                <span class="w-40 avatar amber">
                                                    <span class="fa fa-umbrella"></span>
                                                    <i class="busy avatar-bottom"></i>
                                                 </span>
                                            </a>
                                            <div class="list-body">
                                                <div class="text-ellipsis">
                                                    <a href="/units/@item.Id/@item.GenerateSlug()"
                                                       title="Go to unit: @item.Name"
                                                       >@item.Name</a>
                                                </div>
                                                <a class="text-muted text-ellipsis" 
                                                   title="Go to course: @item.Course.Name"
                                                   href="/courses/@item.Course.Id/@item.Course.GenerateSlug()">
                                                    @item.Course.Name
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                }
                                
                                @{ 
                                    if(_units.Count >= 10)
                                    {
                                        <div class="col-sm-1">
                                            <a href="/units" class="btn btn-warning">go to units...</a>
                                        </div>

                                    }
                                }
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab_2">
                            <div class="streamline">
                                @foreach (var item in _classes.Where(x => x != null))
                                {
                                    <div class="sl-item b-success">
                                        <div class="sl-content">
                                            <div class="sl-date text-muted">
                                                @item.DayOfWeek.ToString() @item.StartTime.ToString("hh:mm tt") - @item.EndTime.ToString("hh:mm tt")
                                            </div>
                                            <p>
                                                <a href="/units/@item.UnitId/@Extensions.GenerateSlug(item.Unit)"
                                                   title="Go to unit: @item.Unit">
                                                    @item.Unit
                                                </a>
                                                <span class="text-primary">@item.Room</span>
                                            </p>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                            </div>
                        }
                    }
                </div>
                <div class="col-md-4">
                    <div>
                        @{ 
                            Html.RenderPartial("Profiles/_Mates");
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>