@using DAL.Models
@using DAL.Extensions
@using Common.ViewModels
@using Services
@model Content
@{
    ViewBag.Title = Model.Title;
    ViewBag.Action = "Contents";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    CourseworkProgress progress = (CourseworkProgress)ViewBag.progress;
    IList<StudentProgressViewModel> studentsProgress = (IList<StudentProgressViewModel>)ViewBag.studentsProgress;
    bool isYoutube = Extensions.IsYoutube(Model.Url);
    Model.Url = Model.Url.Replace("watch?v=", "embed/");
}
<style>
    #webplayer {
        max-width: 800px;
    }
    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
    }

        .video-container iframe, .video-container object, .video-container embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    .plyr {
        border-radius: 4px;
        margin-bottom: 15px;
    }
</style>
<div class="padding">
    <span class="hidden" id="CommentId">@Model.Id</span>
    <div class="row">
        <div class="col-md-7">
            @{
                if (Model.Type == FormatType.Video)
                {
                    if (isYoutube)
                    {
                        <div id="video-container">
                            <iframe width="560" height="315" src="@Model.Url" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                    }
                    else
                    {
                        <div id="webplayer">
                            <video id="player" controls data-plyr='{"title": @Model.Title, "volume":3}'>
                                <!-- Video files -->
                                <source src="@Model.Url" type="video/mp4">

                                <!-- Fallback for browsers that don't support the <video> element -->
                                <a href="@Model.Url" id="downloadContentBtn">Download</a>
                            </video>
                        </div>
                    }
                }
            }
            @{
                Html.RenderPartial("Contents/_Metadata", Model);
            }
        </div>
        <div class="col-md-3">
            @{
                if (User.Role() == "Student")
                {
                    <div class="box p-3">
                        <span class="pull-right">
                            @if (progress.IsComplete)
                            {
                                <i class="fa fa-check-circle text-success"></i>
                            }
                            else
                            {
                                <i class="fa fa-refresh pointer" id="refreshBtn" title="Click here to refresh"></i>
                            }
                        </span>
                        <div class="d-flex">
                            <span class="text-muted">Progress</span>
                        </div>
                        <h2 class="@(progress.IsComplete == true ? "text-success" : "")">
                            @progress.PercentageComplete %
                        </h2>
                        <div class="progress" style="height:5px;">
                            <div class="progress-bar bg-@(progress.IsComplete == true ? "success" : "info")"
                                 role="progressbar"
                                 style="width:@progress.PercentageComplete%">
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="box p-3">
                        <div class="d-flex" style="margin-bottom:10px !important;">
                            <span class="text-muted">Track Students Progress</span>
                        </div>
                        @for(int i=0; i<studentsProgress.Count;i++)
                        {
                            var prg = studentsProgress[i];
                            int n = i + 1;
                            <div>
                                <span>@n. @prg.FullNames
                                    <span class="pull-right">
                                        @prg.Progress%
                                    </span>
                                </span>
                                <div class="progress" style="height:5px; margin-top:3px; margin-left:10px;">
                                    <div class="progress-bar bg-@(prg.Progress > 98 ? "success" : "info")"
                                         role="progressbar"
                                         style="width:@prg.Progress%">
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                }
            }
        </div>
    </div>
</div>

@if (User.Role() == "Student")
{
    <script type="text/javascript">
    window.onbeforeunload = onExit;

    $('#refreshBtn').click(function (e) {
        e.preventDefault();

        location.reload();
    });

    function onExit(e) {

        var cont_type = '@Model.Type';
        var vm = players[0];
        var total = parseFloat('@progress.Overall');
        var _complete = '@progress.IsComplete';

        if (cont_type === 'Video') {
            if (_complete === 'False') {
                if (isNaN(total) || total < 1) {
                    postInitialProgress('@progress.Id', vm.getCurrentTime(), vm.getDuration());
                } else {
                    postProgress('@progress.Id', vm.getCurrentTime());
                }
            }
        }

        return;
    };
    </script>
}
