@using Services
@using DAL.Models
@using DAL.Extensions
@model DAL.Models.Course
@{
    if (Model != null)
    {
        ViewBag.Title = Model.Name;
    }
    else
    {
        ViewBag.Title = "Details";
    }

    ViewBag.Action = "Courses";
    var courseLecturers = Model.Units
                               .Select(x => x.Lecturer)
                               .SkipWhile(x => x == null)
                               .ToList();

    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    string error = (string)ViewBag.error;
}
<style>
    h2 span {
        font-size: .65rem !important;
    }
</style>


<div class="padding">
    @if (Model != null)
    {
        <h2>
            @Model.Name

            <span class="badge badge-primary" title="Likes">
                <i class="fa fa-thumbs-up" title="Likes"></i> @Model.Likes.Count
            </span>

            <span class="pull-right">
                <span><i class="fa fa-calendar-o"></i> @string.Format("{0:D}", Model.Timestamp)</span>
                <br />
                <br />
                <b class="pull-right">Created</b>
            </span>
        </h2>
        <p>
            <i>Course code: </i> <b>@Model.Code.ToString().Substring(0, 6).ToUpper()</b>
        </p>

        <div class="row">
            <input hidden="hidden" id="CourseId" value="@Model.Id" />

            <div class="col col-lg-5 col-md-5 col-sm-6 col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3>
                            Units

                            @{ 
                                if(User.Role() == "Administrator")
                                {
                                    <span class="pull-right h6 text-muted" title="add unit" data-toggle="modal" data-target="#newUnitModal">
                                        <i class="ion ion-plus pointer" title="add unit"></i>
                                    </span>
                                }
                            }
                        </h3>
                    </div>
                    <div class="list inset">
                        @if (Model.Units != null && Model.Units.Count > 0)
                        {
                            foreach (var item in Model.Units)
                            {
                                <div class="list-item" data-id="item-5">
                                    <span class="">
                                        <i class="fa fa-umbrella fa-2x"></i>
                                    </span>
                                    <div class="list-body">
                                        <a class="item-title _500" href="/units/@item.Id/@item.GenerateSlug()">@item.Name</a>
                                        <div class="item-except text-sm text-muted h-1x">
                                            <span>
                                                <i>Code: </i> <b>@item.Code.ToString().Substring(0, 5).ToUpper(),</b>
                                            </span>
                                            @if (item.Lecturer != null)
                                            {
                                                if (item.Lecturer.Profile != null)
                                                {
                                                    <i class="fa fa-check-circle text-success"></i><i> Lecturer: </i> @item.Lecturer.Profile.FullNames
                                                }
                                                else
                                                {
                                                    <span class="text-warning">
                                                        <i class="fa fa-exclamation-triangle"></i> pending registration...
                                                    </span>
                                                }
                                            }
                                            else
                                            {
                                                <span class="text-danger">
                                                    <i class="fa fa-ban"></i> no lecturer
                                                </span>
                                            }
                                        </div>
                                        <div class="item-tag tag hide"></div>
                                    </div>
                                    <div>
                                        <span class="item-date text-xs">
                                            @{
                                                if (item.Lecturer == null && User.Role() == "Administrator")
                                                {
                                                    <span class="item-action dropdown pull-right">
                                                        <a class="text-muted" data-toggle="dropdown" href="#">
                                                            <i class="fa fa-fw fa-ellipsis-v"></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right text-color" role="menu">
                                                            <a class="dropdown-item"
                                                               data-toggle="modal"
                                                               data-target="#assignLecModal"
                                                               onclick="onAssignLecturer('@item.Name','@item.Id')">
                                                                <i class="fa fa-tag"></i> Assign to Lecturer
                                                            </a>

                                                            <a class="dropdown-item"
                                                               onclick="onDeleteUnit('@item.Id')">
                                                                <i class="fa fa-trash"></i> Delete Unit
                                                            </a>
                                                        </div>
                                                    </span>
                                                }
                                            }
                                            <br />
                                            <span class="pull-right">
                                                <i>@item.Timestamp.ToMoment()</i>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            }

                        }
                        else
                        {
                            <br />
                            <center>
                                No units exist for this course. <b class="text-muted">Start adding units today.</b>
                            </center>
                            <br />
                            <br />
                        }
                    </div>
                </div>
            </div>

            <div class="col col-lg-4 col-md-4 col-sm-5 col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3>
                            Lecturers
                        </h3>
                    </div>
                    <div class="list inset">
                        @if (Model.Units != null && Model.Units.Count > 0)
                        {
                            foreach (var item in Model.Units.Where(x => x.Lecturer != null).Select(x => x.Lecturer).Distinct())
                            {
                                <div class="list-item" data-id="item-5">
                                    <span class="w-40 avatar circle blue-grey">
                                        @{ 
                                            if (item.Profile != null)
                                            {
                                                if (!string.IsNullOrWhiteSpace(item.Profile.PhotoUrl))
                                                {
                                                    <img alt="." src="@Url.Content(item.Profile.PhotoUrl)">
                                                }
                                                else
                                                {
                                                    <img alt="." src="@Helpers.avatar">
                                                }

                                            }
                                            else
                                            {
                                                <img alt="." src="~/images/avatar-1577909_960_720.png">
                                            }
                                        }
                                    </span>
                                    <div class="list-body">
                                        <a class="item-title _500" href="#">@item.Profile.FullNames</a>
                                        <div class="item-except text-sm text-muted h-1x">
                                            Lecturer
                                        </div>
                                        <div class="item-tag tag hide"></div>
                                    </div>
                                    <div>
                                        <span class="item-date text-xs text-muted">@item.Timestamp.ToString()</span>
                                    </div>
                                </div>
                            }

                        }
                        else
                        {
                            <br />
                            <center>
                                <i class="ion ion-e"></i> No lecturers assigned to this course
                            </center>
                            <br />
                            <br />
                        }
                    </div>
                </div>
            </div>


            <div class="col col-lg-3 col-md-3 col-sm-5 col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3>
                            Students
                        </h3>
                    </div>
                    <div class="list inset">
                        @if (Model.Students != null && Model.Students.Count > 0)
                        {
                            foreach (var item in Model.Students)
                            {
                                <div class="list-item" data-id="item-5">
                                    <span class="w-40 avatar circle blue-grey">
                                        @{ 
                                            if (item.Profile != null)
                                            {
                                                if (!string.IsNullOrWhiteSpace(item.Profile.PhotoUrl))
                                                {
                                                    <img alt="." src="@Url.Content(item.Profile.PhotoUrl)">
                                                }
                                                else
                                                {
                                                    <img alt="." src="@Helpers.avatar">
                                                }

                                            }
                                            else
                                            {
                                                <img alt="." src="~/images/avatar-1577909_960_720.png">
                                            }
                                        }
                                    </span>
                                    <div class="list-body">
                                        <a class="item-title _500" href="#">@item?.Profile.FullNames</a>
                                        <div class="item-except text-sm text-muted h-1x">
                                            Student
                                        </div>
                                        <div class="item-tag tag hide"></div>
                                    </div>
                                    <div>
                                        <span class="item-date text-xs text-muted">@item.Timestamp.ToString()</span>
                                    </div>
                                </div>
                            }

                        }
                        else
                        {
                            <br />
                            <center>
                                <i class="ion ion-e"></i> No students have enrolled to this course yet.
                            </center>
                            <br />
                            <br />
                        }
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <h2>Error</h2>

        <span class="badge badge-danger h3">@error</span>
    }
</div>

@Html.Partial("Units/_Create")
@Html.Partial("Units/_AssignLec")

