@using Services
@using DAL.Models
@using DAL.Extensions
@model IList<Course>
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    ViewBag.Title = "Courses";
    ViewBag.Action = "Courses";
}
<style>
  .box{
    padding:15px 20px !important;
  }
</style>
<div class="padding">
    <h4>
        @{ 
            if(User.Role() == "Student")
            {
                <span>My Courses</span>
            }
            else if(User.Role() == "Lecturer")
            {
                <span>Assigned Courses</span>
            }
            else
            {
                <span>Courses</span>
            }
        } 
        
        <span class="ml-auto h6"><b class="badge danger">@Model.Count</b></span>

        @{ 
            if(User.Role() == "Administrator")
            {
                <span class="pull-right h6">
                    <button class="btn btn-sm success theme-accent btn-block" type="button" data-target="#newCourseModal" data-toggle="modal">
                        <i class="fa fa-fw fa-plus"></i>
                        <span class="hidden-folded d-inline">New Course</span>
                    </button>
                </span>

            }
        }
    </h4>
    <br />
    <div class="">
        <ul class="list-inline row">
            @foreach (var item in Model)
            {
                <li class="col-sm-4 col-12 col-md-3">
                    <div class="p-3 box pointer">
                        <a class="d-block" >
                            <a href="/courses/@item.Id/@item.GenerateSlug()">
                                @item.Name.Trancate()
                            </a>

                            @{ 
                                if(User.Role() == "Administrator")
                                {
                                    <span class="pull-right pointer text-default" title="Delete course: @item.Name">
                                        <i class="ion ion-ios-close" onclick="onDeleteCourse(@item.Id)" title="Delete course: @item.Name"></i>
                                    </span>
                                }
                            }
                        </a>
                        <br />
                        <div class="text-xs" style="margin-top:7px;">
                            <span>
                                <i class="ion ion-android-list" title="Units"></i>
                                <strong title="Units">@item.Units.Count units</strong>

                                <span class="pull-right">
                                    @switch (item.Type)
                                    {
                                        case CourseType.Certificate:
                                            <i class="fa fa-certificate"></i>
                                            break;
                                        case CourseType.Diploma:
                                            <i class="fa fa-certificate text-warning"></i>
                                            break;
                                        case CourseType.Degree:
                                            <i class="fa fa-certificate text-success"></i>
                                            break;
                                        case CourseType.Masters:
                                            <i class="fa fa-certificate text-info"></i>
                                            break;
                                        case CourseType.Phd:
                                            <i class="fa fa-certificate text-danger"></i>
                                            break;
                                        default:
                                            break;
                                    }
                                    <i>@item.Type.ToString()</i>
                                </span>
                            </span>
                        </div>
                    </div>

                </li>
            }
        </ul>
        @if (Model.Count < 1 && User.Role() == "Administrator")
        {
            <br />
            <div>
                <center>
                    No courses. Start adding courses offered at <strong>@Extensions.Uni</strong>
                </center>
            </div>
            <br />
        }
    </div>
</div>

@Html.Partial("Courses/_Create")
