@using Services
@using DAL.Models
@model IList<Course>
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    ViewBag.Title = "Search Results(Courses)";
}

<style>
    .box {
        padding: 15px 20px !important;
    }
</style>

<div class="padding">
    <h4>
        Search Results : @ViewBag.Query

        <span class="pull-right h6">
            <b class="badge danger">@Model.Count</b>
        </span>
    </h4>
    <br />
    <div class="">
        <ul class="list-inline row">
            @foreach (var item in Model)
            {
                <li class="col-sm-4 col-12 col-md-3">
                    <div class="p-3 box pointer">
                        <a class="d-block" href="#">
                            @item.Name.Trancate()

                            <span class="pull-right pointer text-default">
                                <i class="ion ion-trash-a" onclick="onDeleteCourse(@item.Id)"></i>
                            </span>
                        </a>
                        <br />
                        <div class="text-xs">
                            <span>
                                <i class="ion ion-android-list" title="Units"></i>
                                <strong title="Units">@item.Units.Count units</strong>

                                <span class="pull-right">
                                    @switch (item.Type)
                                    {
                                        case CourseType.Certificate:
                                            <i class="fa fa-certificate"></i>
                                            break;
                                        case CourseType.Diploma:
                                            <i class="fa fa-certificate text-warning"></i>
                                            break;
                                        case CourseType.Degree:
                                            <i class="fa fa-certificate text-success"></i>
                                            break;
                                        case CourseType.Masters:
                                            <i class="fa fa-certificate text-info"></i>
                                            break;
                                        case CourseType.Phd:
                                            <i class="fa fa-certificate text-danger"></i>
                                            break;
                                        default:
                                            break;
                                    }
                                    <i>@item.Type.ToString()</i>
                                </span>
                            </span>
                        </div>
                    </div>

                </li>
            }
        </ul>
        @if (Model.Count < 1)
        {
            <br />
            <div>
                <center>
                    No courses. Start adding courses offered at <strong>@Extensions.Uni</strong>
                </center>
            </div>
            <br />
        }
    </div>
</div>


