@using DAL.Models
@using DAL.Extensions
@model IList<Student>
@{
    if(User.Role() == "Lecturer")
    {
        ViewBag.Title = "My Students";
    }
    else if(User.Role() == "Student")
    {
        ViewBag.Title = "My Classmates";
    }
    else
    {
        ViewBag.Title = "All Students";
    }

    ViewBag.Action = "Students";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="padding">
    <h4>
        @ViewBag.Title
        <span class="ml-auto h6"><b class="badge danger">@Model.Count</b></span>
    </h4>
    <br />

    <div class="box col-md-6">
        <div class="box-header">
            <h3>
                @ViewBag.Action;
            </h3>
        </div>

        <div class="list inset">
            @foreach (var item in Model)
            {
                <div class="list-item" data-id="item-5">
                    <span class="w-50 avatar img-circle img-responsive img-thumbnail">
                        @if (item != null)
                        {
                            if (item.Profile != null)
                            {
                                <img alt="." src="@Url.Content(item.Profile.PhotoUrl)">
                            }
                            else
                            {
                                <img alt="." src="~/images/avatar-1577909_960_720.png" />
                            }

                         }
                         else
                         {
                             <img alt="." src="~/images/avatar-1577909_960_720.png" />
                         }
                    </span>
                    <div class="list-body">
                        <a class="item-title _500" href="#">
                            @{ 
                                if(item.Profile == null)
                                {
                                    <span class="text-warning">Pending registration..</span>
                                }
                                else
                                {
                                    <span>@item.Profile.FullNames</span>

                                }
                            }
                        </a>
                        <div class="item-except text-sm text-muted h-1x">
                            @{ 
                                if(item.Course != null)
                                {
                                    <span>
                                        @switch (item.Course.Type)
                                        {
                                            case CourseType.Certificate:
                                                <i class="fa fa-certificate"></i>
                                                break;
                                            case CourseType.Diploma:
                                                <i class="fa fa-certificate text-warning"></i>
                                                break;
                                            case CourseType.Degree:
                                                <i class="fa fa-certificate text-success"></i>
                                                break;
                                            case CourseType.Masters:
                                                <i class="fa fa-certificate text-info"></i>
                                                break;
                                            case CourseType.Phd:
                                                <i class="fa fa-certificate text-danger"></i>
                                                break;
                                            default:
                                                break;
                                        }
                                        @item.Course.Name, Year of study<b>@item.YearOfStudy</b>
                                    </span>
                                    <span>
                                         Units: @item.StudentUnits.Count
                                    </span>
                                }
                                else
                                {
                                    <span>
                                        <i class="fa fa-times text-danger"></i> not enrolled to any course yet
                                    </span>
                                }
                            }
                            
                        </div>
                    </div>
                    <div>
                        <span class="item-date text-xs text-muted">@item.Timestamp.ToString()</span>
                    </div>
                </div>
            }
        </div>
    </div>

</div>


