@using DAL.Models
@using DAL.Extensions
@using Services
@model IList<Student>
@{
    ViewBag.Title = $"{(string)ViewBag.Query} - Students Search";
    ViewBag.Action = "Students";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    TimeSpan span = (TimeSpan)ViewBag.timespan;
}

<style>
    .students {
        max-height: 165px;
        background: #fff;
        width: 100%;
        padding: 15px;
        border-radius: 5px;
        margin-bottom: 10px;
    }

        .students:hover {
            box-shadow: 1px 1px 8px #d8d8d8;
            cursor: pointer;
        }
</style>
<div class="padding">
    <h4>
        <a class="text-muted" href="/students">Students / </a>  Search
        <span class="pull-right h6">
            <b class="badge danger">@Model.Count</b> 
            @{ 
                if(Model.Count == 1)
                {
                    <span>result</span>
                }
                else
                {
                    <span>results</span>
                }
            }
            <span class="text-muted h6">
                in (@span.TotalSeconds.RoundOff(3) seconds)
            </span>
        </span>
    </h4>
    <br />

    <div class="row">
        @if (Model.Count > 0)
        {
            @foreach (var item in Model)
            {
                if (item != null)
                {
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6"
                         data-toggle="modal" data-target="#profViewModal"
                         ng-click="onViewProfile('@item.Profile.Serialize()','Student','@item.AccountId')">
                        <div class="students">
                            <span class="avatar w-50 img-circle img-thumbnail img-responsive">
                                @if (item != null)
                                {
                                    if (item.Profile != null)
                                    {
                                        <img alt="." src="@Url.Content(item.Profile.PhotoUrl)">
                                    }
                                    else
                                    {
                                        <img alt="." src="~/images/avatar-1577909_960_720.png" />
                                    }

                                }
                                else
                                {
                                    <img alt="." src="~/images/avatar-1577909_960_720.png" />
                                }
                            </span>
                            <div class="list-body">
                                <a class="item-title _500">
                                    @{
                                        if (!string.IsNullOrWhiteSpace(item.Profile.FullNames))
                                        {
                                            <span>@item.Profile.FullNames</span>
                                        }
                                        else
                                        {
                                            <span>No name.</span>
                                        }
                                    }
                                </a>
                                <div class="item-except text-sm text-muted h-1x">
                                    @{
                                        if (item.Course != null)
                                        {
                                            <span>@item.Course.Name</span>
                                        }
                                        else
                                        {
                                            <span class="text-danger"><i class="fa fa-close"></i> not enrolled</span>
                                        }
                                    }
                                </div>
                            </div>
                            <div>
                                <span class="item-date text-xs text-muted">@item.Timestamp.ToMoment()</span>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>
</div>



