@using DAL.Models
@using DAL.Extensions
@using Common.ViewModels
@using Services
@{ 
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    ViewBag.Title = "Dashboard";
    ViewBag.Action = "Dashboard";

    var lecturers = (IList<Lecturer>)ViewBag.lecturers;
    var students = (IList<Student>)ViewBag.students;
    var myprofile = (Student)ViewBag.myprofile;
    var myCourses = (MyCoursesViewModel)ViewBag.mycourses;
    if(myCourses == null)
    {
        myCourses = new MyCoursesViewModel();
    }
}
<style>
    .courses{
        padding-top:0px;
    }
    .main-course{
        background:#f3f6f9;
        padding-left:10px;
        padding-top:8px;
        padding-bottom:8px;
        margin-top:5px;
        border-left:5px solid rgba(0, 148, 255, 0.65);
    }
    .other-course {
        background: #f3f6f9;
        padding-left: 10px;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-top: 5px;
        border-left: 3px solid #dbe0e6;
    }
    .other-courses{
        margin-top:10px;
    }
    .display-4{
        font-size:2.5em;
    }
    .subscribe-form input[type=email] {
        background: rgba(255, 255, 255, 0.20);
        color: #b3b3b3;
    }
</style>
<div class="padding">

    @{
        if (User.Role() == "Administrator")
        {
            Html.RenderPartial("Dashboard/_Summary");
        }
    }

    @{
        if (User.Role() == "Unknown")
        {
            <div>
                <center>
                    <h2><i class="fa fa-frown-o"></i> Empty Profile!!</h2>
                    <p>Please complete your profile registration first to use @Extensions.Uni.</p>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#profRegModal">Get Started.</button>
                </center>
            </div>
        }
        else
        {
            if (User.Role() == "Lecturer")
            {
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-12">
                                <div class="box" style="background:#978ba2;">
                                    <div class="box-body">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-5" style="display:flex; justify-content:center;align-items:center;">
                                                <img alt="logo"
                                                     style="max-width:100px; min-width:50px; min-height:50px; max-height:100px;"
                                                     src="~/images/mobile_eduction_logo_fine_circle.png"
                                                     class="img-responsive" />
                                            </div>
                                            <div class="col-lg-8 col-md-7">
                                                <h1 class="display-4 text-white">
                                                    <i class="fa fa-university"></i> Elimu Digital

                                                    <span class="pull-right text-white">

                                                    </span>
                                                </h1>
                                                <p class="text-white">
                                                    <i>
                                                        Where education &amp; collaboration meet in today's mobile world.
                                                    </i>
                                                </p>
                                                @*<form role="form" class="subscribe-form">
                <div class="form-group">
                    <input type="email" class="form-control"
                           placeholder="Enter your email.." />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-info">
                        Subscribe Now
                    </button>
                </div>
            </form>*@
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="box">
                                    <div class="box-header">
                                        <h3>
                                            My Colleagues
                                        </h3>
                                        <span>Other lecturers who teach in the same Courses as you do.</span>
                                    </div>
                                    <div class="list inset">
                                    @{
                                        if (lecturers != null)
                                        {
                                            foreach (var item in lecturers)
                                            {
                                                <div class="list-item" data-id="item-5">
                                                    <span class="w-50 avatar img-circle img-thumbnail img-responsive">
                                                        <img alt="." src="@Url.Content(item.Profile.PhotoUrl)">
                                                    </span>
                                                    <div class="list-body">
                                                        <a class="item-title _500" href="#">@item.Profile.FullNames</a>
                                                        <div class="item-except text-sm text-muted h-1x">
                                                            Lecturer
                                                        </div>
                                                        <div class="item-tag tag">
                                                            <span class="item-date text-xs text-muted">@item.Timestamp.ToString("M MMM")</span>
                                                        </div>
                                                    </div>
                                                    <div>
                                                    </div>
                                                </div>
                                            }

                                        }
                                    }

                                    @if (lecturers == null || lecturers.Count < 1)
                                    {
                                        <br />
                                        <center>
                                            <b>0 </b><i> found.</i>
                                        </center>
                                        <br />
                                    }
                            </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="box">
                            <div class="box-header">
                                <h3>
                                    My Students
                                </h3>
                            </div>
                            <div class="list inset">
                                @if (students != null)
                                {
                                    foreach (var item in students.TakeWhile(x => x.Profile != null))
                                    {
                                        <div class="list-item" data-id="item-11">
                                            <span class="avatar w-50 img-circle img-thumbnail img-responsive">
                                                <img alt="." src="@Url.Content(item?.Profile?.PhotoUrl)" />
                                            </span>
                                            <div class="list-body">
                                                <a class="item-title _500" href="#">@item.Profile.FullNames</a>
                                                <div class="item-except text-sm text-muted h-1x">
                                                    @{ 
                                                        if (item.Course == null)
                                                        {
                                                            <span>no course</span>
                                                        }
                                                        else
                                                        {
                                                            <span>@item.Course.Name</span>
                                                        }
                                                    }
                                                </div>
                                                <div class="item-tag tag hide"></div>
                                            </div>

                                        </div>
                                    }

                                }
                            </div>
                        </div>
                    </div>
                </div>

            }
            else if (User.Role() == "Student")
            {
                <div class="row">
                    <div class="jumbotron col-md-4">
                        <h3>Hi @User.FullNames(),</h3>
                        <h6>Welcome student to @Extensions.Uni</h6>

                        <p>
                            Start pursuing your goals by equipping yourself with the relevant skills
                            required with our world-class courses.
                        </p>

                        <a class="btn btn-danger" href="/courses/enrollment">
                            @(myCourses.Main == null ? "Enrollments" : "Enroll to another course")
                        </a>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="box-header">
                                <h4><i class="fa fa-leaf"></i> Enrolled courses</h4>
                            </div>
                            <div class="box-body courses">
                                @{ 
                                    if(myCourses.Main != null)
                                    {
                                        <b>Main Course</b>
                                        <div class="main-course">
                                            <a href="/courses/@myCourses.Main.Id/@myCourses.Main.GenerateSlug()" class="h4">
                                                @switch (myCourses.Main.Type)
                                                {
                                                    case CourseType.Certificate:
                                                        <i class="fa fa-certificate"></i>
                                                        break;
                                                    case CourseType.Diploma:
                                                        <i class="fa fa-certificate text-warning"></i>
                                                        break;
                                                    case CourseType.Degree:
                                                        <i class="fa fa-certificate text-success"></i>
                                                        break;
                                                    case CourseType.Masters:
                                                        <i class="fa fa-certificate text-info"></i>
                                                        break;
                                                    case CourseType.Phd:
                                                        <i class="fa fa-certificate text-danger"></i>
                                                        break;
                                                    default:
                                                        break;
                                                }
                                                <span> @myCourses.Main.Name</span>
                                            </a>
                                            <br />
                                            <span>
                                                Program duration: @myCourses.Main.Years year(s)
                                            </span>
                                        </div>
                                    }

                                    if(myCourses.Others != null && myCourses.Others.Count > 0)
                                    {
                                        <div class="other-courses">
                                            <p>
                                                <b>Others</b>
                                            </p>
                                            <ul class="list-unstyled">
                                                @foreach (var item in myCourses.Others)
                                                {
                                                    <li class="other-course">
                                                        <a href="/courses/@item.Id/@item.GenerateSlug()">
                                                            <span>
                                                            @switch (item.Type)
                                                            {
                                                                case CourseType.Certificate:
                                                                    <i class="fa fa-certificate"></i>
                                                                    break;
                                                                case CourseType.Diploma:
                                                                    <i class="fa fa-certificate text-warning"></i>
                                                                    break;
                                                                case CourseType.Degree:
                                                                    <i class="fa fa-certificate text-success"></i>
                                                                    break;
                                                                case CourseType.Masters:
                                                                    <i class="fa fa-certificate text-info"></i>
                                                                    break;
                                                                case CourseType.Phd:
                                                                    <i class="fa fa-certificate text-danger"></i>
                                                                    break;
                                                                default:
                                                                    break;
                                                            }
                                                            </span>
                                                            <span> @item.Name</span>
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
            else if (User.Role() == "Administrator")
            {
                <div class="row">
                    <div class="col-sm-6">
                        <div class="box">
                            <div class="box-header">
                                <h3>
                                    Lecturers
                                </h3>
                            </div>
                            <div class="list inset">
                                @foreach (var item in lecturers)
                                {
                                    <div class="list-item" data-id="item-5">
                                        <span class="w-40 avatar circle blue-grey">
                                            <img alt="." src="@Url.Content(item.Profile.PhotoUrl)">
                                        </span>
                                        <div class="list-body">
                                            <a class="item-title _500" href="#">@item.Profile.FullNames</a>
                                            <div class="item-except text-sm text-muted h-1x">
                                                Lecturer
                                            </div>
                                            <div class="item-tag tag">
                                                <span class="item-date text-xs text-muted">@item.Timestamp.ToString()</span>
                                            </div>
                                        </div>
                                        <div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="box">
                            <div class="box-header">
                                <h3>
                                    Students
                                </h3>
                            </div>
                            <div class="list inset">
                                @foreach (var item in students)
                                {
                                    <div class="list-item" data-id="item-11">
                                        <span class="avatar w-32">
                                            <img alt="." class="w-40 circle" src="@Url.Content(item.Profile.PhotoUrl)" />
                                        </span>
                                        <div class="list-body">
                                            <a class="item-title _500" href="#">@item.Profile.FullNames</a>
                                            <div class="item-except text-sm text-muted h-1x">
                                                Student
                                            </div>
                                            <div class="item-tag tag hide"></div>
                                        </div>
                                        <div>
                                            <div class="item-action dropdown">
                                                <a class="text-muted" data-toggle="dropdown" href="/students/@item.Id/@Extensions.GenerateSlug(item?.Profile.FullNames)"><i class="fa fa-fw fa-ellipsis-v"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }
</div>


