@using Services

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="~/css/primary.css">
    <meta charset="utf-8">
    <title>@ViewBag.Title | @Extensions.Uni</title>
    <meta content="Elimu Digital is an e-learning platform that allows members
                    to access course material, fees statements, online discussions with lecturers and
                    fellow students via this platform. This platform enables you to access flexible learning
                    from wherever you are. It is only but a mouse click away! Happy Learning!"
          name="description">
    <meta name="keywords" content="elimu, elimu digital, e-learning, school management system, kenya, nairobi" />
    <meta name="application-name" content="Elimu Digital" />
    <meta name="image" content="~/images/ElimuDigitalBanner.png" />
    <meta name="msapplication-badge" content="~/images/Elimu_Digital_favicon_PNG.png" />
    <meta name="msapplication-square150x150logo" content="~/images/Elimu_Digital_favicon_ICO.ico" />

    <meta name="msapplication-starturl" content="/" />
    <meta name="theme-color" content="#462565" />
    <meta name="thumbnail" content="~/images/Elimu_Digital_favicon_PNG.png" />

    <!-- Sharing Metadata -->
    <meta property="og:title" content="Elimu Digital Platform" />
    <meta property="og:description" content="Elimu Digital is an e-learning platform that allows members
                    to access course material, fees statements, online discussions with lecturers and
                    fellow students via this platform. This platform enables you to access flexible learning
                    from wherever you are. It is only but a mouse click away! Happy Learning!" />
    <meta property="og:image" content="https://devtimmystorage.blob.core.windows.net/files/ElimuDigitalBanner.png" />
    <meta property="og:image:secure_url" content="https://devtimmystorage.blob.core.windows.net/files/ElimuDigitalBanner.png" />
    <meta property="og:image:height" content="480" />
    <meta property="og:image:type" content="png" />
    <meta property="og:image:width" content="720" />
    <meta property="og:site_name" content="Elimu Digital" />
    <meta property="og:url" content="https://elimu-digital.com" />
    <!-- End of sharing metadata -->

    <meta content="width=device-width,initial-scale=1,maximum-scale=1,minimal-ui" name="viewport">
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black-translucent" name="apple-mobile-web-app-status-barstyle">
    <link href="~/images/Elimu_Digital_favicon_ICO.ico" rel="apple-touch-icon">
    <meta content="Elimu Digital" name="apple-mobile-web-app-title">
    <meta content="yes" name="mobile-web-app-capable">
    <meta name="author" content="Timothy Macharia, Victor Stevens" />
    <link href="~/images/Elimu_Digital_favicon_ICO.ico" rel="shortcut icon" sizes="128x128">

    <environment names="Development">
        @Html.Partial("Resources/_devstyles")
    </environment>
    <environment names="Staging,Production">
        @Html.Partial("Resources/_prodstyles")
    </environment>

</head>
<body>
    <style>
        body {
            background-color: transparent;
        }

        .bg {
            top: 0;
            left: 0;
            right: 0;
            position: absolute;
            height: 100%;
            z-index: -1;
            background: url('../../images/library_2.jpg') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            -webkit-filter: blur(5px);
            -moz-filter: blur(5px);
            -o-filter: blur(5px);
            -ms-filter: blur(5px);
            filter: blur(5px);
            -webkit-transition: all 3s ease-in-out;
            transition: all 3s ease-in-out;
        }

        .accounts-partials {
            background: rgba(255, 255, 255, 0.9);
            width: auto;
            height: auto;
            margin-left: auto;
            margin-right: auto;
            padding: 5px 30px;
            border-radius: 10px;
            margin-top: 2rem;
        }
    </style>

    <environment names="Development">
        @Html.Partial("Resources/_devscripts")
    </environment>
    <environment names="Staging,Production">
        @Html.Partial("Resources/_prodscripts")
    </environment>

    <noscript>
        Javascript has to be enabled in browser settings for this application
        to run properly.
    </noscript>

    <div class="d-flex flex-column flex">
        <div class="navbar light bg pos-rlt box-shadow">
            <div class="mx-auto">
                <a class="navbar-brand" href="/">

                    <span class="hidden-folded d-inline"><i class="ion ion-university ion-2x"></i> @Extensions.Uni</span>
                </a>
            </div>
        </div>
        <div class="accounts-partials">
            @RenderBody()
        </div>
    </div>
    <div class="bg"></div>
</body>
</html>

