@using Services

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title | @Extensions.Uni</title>
    <meta content="e-learning, university" name="description">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,minimal-ui" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black-translucent" name="apple-mobile-web-app-status-barstyle">
    <link href="~/images/Graduation_Hat-512.ico" rel="apple-touch-icon">
    <meta content="Elimu Digital" name="apple-mobile-web-app-title">
    <meta content="yes" name="mobile-web-app-capable">
    <meta name="author" content="Timothy Macharia" />
    <link href="~/images/Graduation_Hat-512.ico" rel="shortcut icon" sizes="196x196">
    
    <environment names="Development">
        @Html.Partial("_DevResources")
    </environment>
    <environment names="Staging,Production">
        @Html.Partial("_ProdResources")
    </environment>
</head>
<body class="pace-done ">

    <noscript>
        Javascript has to be enabled in browser settings for this application
        to run properly.
    </noscript>

    <div class="app" id="app">
        
            @{ 
                if(ViewBag.Title == "Enrollments" || ViewBag.Title == "Course Enrollment Successful")
                {

                }
                else
                {
                    <div aria-hidden="true" class="app-aside fade box-shadow-x nav-expand white" id="aside">
                        @Html.Partial("_Sidebar")
                    </div>
                }
            }
        <div class="app-content box-shadow-4 box-radius-4" id="content" role="main">
            <div class="content-header white box-shadow-4" id="content-header">
                @Html.Partial("_Header")
            </div>


            <div class="content-main" id="content-main">
                @RenderBody()
            </div>
            
            @{ 
                if(ViewBag.Title == "Enrollments" || ViewBag.Title == "Course Enrollment Successful")
                {


                }
                else
                {
                    <div class="content-footer white" id="content-footer">
                        <div class="d-flex p-3">
                            <span class="text-sm text-muted flex">&copy; Copyright. @Extensions.Uni @DateTime.Now.Year</span>
                            <div class="text-sm text-muted">
                                Version @System.Reflection.Assembly.GetEntryAssembly().GetName().Version
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>

    <!--New User Create Profile Modal-->
    @{
        Html.RenderPartial("~/Views/Shared/Profiles/_Create.cshtml");
    }
    <!--End-->

</body>
</html>